<div *ngIf="isLoading"
     class="h-screen flex items-center justify-center">

  <h1 class="text-3xl font-bold text-blue-600">
    Loading...
  </h1>

</div>





<div *ngIf="!isLoading && project">

  <!-- HEADER -->

  <div class="max-w-7xl mx-auto px-4 md:px-6 xl:px-0">

    <div
      class="flex flex-col md:flex-row justify-between items-start md:items-center
             gap-5 shadow-sm bg-white rounded-xl p-4 md:p-6">

      <section class="font-semibold">

        <p class="text-[#4A5565] pb-4">

          <a
            routerLink="/projects"
            class="flex items-center gap-2 hover:text-blue-500">

            ← Back to Projects

          </a>

        </p>





        <h3
          class="text-[#101828] text-lg md:text-xl xl:text-2xl font-bold pb-2">

          {{ project?.name }}

        </h3>





        <p class="text-[#4A5565]">

          View project details and team members

        </p>

      </section>





      <button
        class="bg-blue-600 hover:bg-blue-700
               text-white px-5 py-2 rounded-xl">

        Edit Project

      </button>

    </div>

  </div>





  <!-- MAIN -->

  <main class="max-w-7xl mx-auto mt-6 px-4 md:px-6 xl:px-0">

    <!-- DETAILS -->

    <div
      class="bg-white rounded-2xl border border-gray-200 p-6 shadow-sm">

      <h2 class="text-xl font-bold mb-6">

        Project Details

      </h2>





      <div class="grid md:grid-cols-2 gap-10">

        <!-- LEFT -->

        <div class="space-y-5">

          <div>

            <p class="text-gray-500 mb-1">
              Description
            </p>

            <p class="text-gray-900 leading-7">

              {{ project?.descritpion }}

            </p>

          </div>





          <div>

            <p class="text-gray-500 mb-1">
              Client Name
            </p>

            <p class="text-gray-900">

              {{ project?.clientName }}

            </p>

          </div>





          <div>

            <p class="text-gray-500 mb-1">
              Contract Value
            </p>

            <p class="text-gray-900">

              {{ project?.contractValue | number }}
              EGP

            </p>

          </div>





          <div>

            <p class="text-gray-500 mb-1">
              Category
            </p>

            <p class="text-gray-900">

              {{ project?.category }}

            </p>

          </div>

        </div>





        <!-- RIGHT -->

        <div class="space-y-5">

          <div>

            <p class="text-gray-500 mb-1">
              Start Date
            </p>

            <p class="text-gray-900">

              {{ project?.startDate | date:'yyyy-MM-dd' }}

            </p>

          </div>





          <div>

            <p class="text-gray-500 mb-1">
              End Date
            </p>

            <p class="text-gray-900">

              {{ project?.endDate | date:'yyyy-MM-dd' }}

            </p>

          </div>





          <div>

            <p class="text-gray-500 mb-1">
              Location
            </p>

            <p class="text-gray-900">

              {{ project?.location }}

            </p>

          </div>





          <!-- <div>

            <p class="text-gray-500 mb-2">
              Project Photo
            </p>

            <img
              *ngIf="project?.photo"
              [src]="project.photo"
              class="w-full h-56 object-cover rounded-xl border">

          </div> -->

        </div>

      </div>

    </div>





    <!-- TABS -->

    <div
      class="max-w-6xl mx-auto bg-white border border-gray-200 rounded-2xl mt-6 p-2 overflow-x-auto">

      <div class="flex md:grid md:grid-cols-5 gap-2 min-w-max md:min-w-0">

        <!-- CONSULTANTS -->

        <button
          (click)="switchTab('consultants')"

          [ngClass]="activeTab === 'consultants'
          ? 'bg-blue-600 text-white'
          : 'text-gray-500'"

          class="whitespace-nowrap px-5 md:px-0 py-2.5 rounded-xl font-bold text-sm transition-all">

          Consultants

        </button>





        <!-- ENGINEERS -->

        <button
          (click)="switchTab('engineers')"

          [ngClass]="activeTab === 'engineers'
          ? 'bg-blue-600 text-white'
          : 'text-gray-500'"

          class="whitespace-nowrap px-5 md:px-0 py-2.5 rounded-xl font-bold text-sm transition-all">

          Engineers

        </button>





        <!-- SUBCONTRACTORS -->

        <button
          (click)="switchTab('subcontractors')"

          [ngClass]="activeTab === 'subcontractors'
          ? 'bg-blue-600 text-white'
          : 'text-gray-500'"

          class="whitespace-nowrap px-5 md:px-0 py-2.5 rounded-xl font-bold text-sm transition-all">

          Subcontractors

        </button>





        <!-- WORKERS -->

        <button
          (click)="switchTab('workers')"

          [ngClass]="activeTab === 'workers'
          ? 'bg-blue-600 text-white'
          : 'text-gray-500'"

          class="whitespace-nowrap px-5 md:px-0 py-2.5 rounded-xl font-bold text-sm transition-all">

          Workers

        </button>





        <!-- MATERIALS -->

        <button
          (click)="switchTab('materials')"

          [ngClass]="activeTab === 'materials'
          ? 'bg-blue-600 text-white'
          : 'text-gray-500'"

          class="whitespace-nowrap px-5 md:px-0 py-2.5 rounded-xl font-bold text-sm transition-all">

          Material Requests

        </button>

      </div>

    </div>





    <!-- CONTENT -->

    <div
      class="max-w-6xl mx-auto bg-white border border-gray-200 rounded-2xl overflow-hidden mt-6 mb-10">

      <!-- HEADER -->

      <div
        class="p-5 border-b border-gray-100 flex items-center justify-between">

        <h3 class="font-bold text-gray-900 capitalize">

          {{ activeTab }}

        </h3>

      </div>





      <!-- CONSULTANTS -->

      <div
        *ngIf="activeTab === 'consultants'"
        class="p-5 space-y-3">

        <div
          *ngFor="let c of consultants"
          class="border rounded-xl p-4 flex justify-between">

          <div>

            <h3 class="font-bold">
              {{ c.firstName }} {{ c.lastName }}
            </h3>

            <p class="text-gray-500">
              {{ c.email }}
            </p>

          </div>
          <span class="text-blue-600 font-semibold">
           {{ c.section }}
          </span>

        </div>

      </div>





      <!-- ENGINEERS -->

      <div
        *ngIf="activeTab === 'engineers'"
        class="p-5 space-y-3">

        <div
          *ngFor="let e of engineers"
          class="border rounded-xl p-4 flex justify-between">

          <div>

            <h3 class="font-bold">
              {{ e.name }}
            </h3>

            <p class="text-gray-500">
              {{ e.email }}
            </p>

          </div>

          <span class="text-green-600 font-semibold">
            Engineer
          </span>

        </div>

      </div>





      <!-- SUBCONTRACTORS -->

      <div
        *ngIf="activeTab === 'subcontractors'"
        class="p-5 space-y-3">

        <div
          *ngFor="let s of subcontractors"
          class="border rounded-xl p-4 flex justify-between">

          <div>

            <h3 class="font-bold">
              {{ s.name }}
            </h3>

            <p class="text-gray-500">
              {{ s.email }}
            </p>

          </div>

          <span class="text-orange-600 font-semibold">
            Subcontractor
          </span>

        </div>

      </div>





      <!-- WORKERS -->

      <div
        *ngIf="activeTab === 'workers'"
        class="p-5 space-y-3">

        <div
          *ngFor="let w of workers"
          class="border rounded-xl p-4 flex justify-between">

          <div>

            <h3 class="font-bold">
              {{ w.name }}
            </h3>

            <p class="text-gray-500">
              {{ w.email }}
            </p>

          </div>

          <span class="text-purple-600 font-semibold">
            Worker
          </span>

        </div>

      </div>





      <!-- MATERIAL REQUESTS -->

      <div
        *ngIf="activeTab === 'materials'"
        class="p-5 space-y-3">

        <div
          *ngFor="let m of materialRequests"
          class="border rounded-xl p-4 flex justify-between">

          <div>

            <h3 class="font-bold">
              {{ m.materialName }}
            </h3>

            <p class="text-gray-500">

              Quantity:
              {{ m.quantity }}

            </p>

          </div>

          <span class="text-red-600 font-semibold">
            Request
          </span>

        </div>

      </div>

    </div>

  </main>

</div>