.ai-float-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 65px;
  height: 65px;

  border-radius: 50%;
  border: none;

  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  color: white;

  font-size: 28px;
  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  z-index: 9999;

  transition: all 0.3s ease;
}

.ai-float-btn:hover {
  transform: scale(1.1);
}