<main class=" justify-center items-center  max-w-7xl mx-auto  gap-4 md:gap-6 lg:gap-8  p-4 md:px-2 lg:px-8  ">
        <div class=" flex gap-6 flex-col   max-w-7xl   justify-center  md:flex-row  " >
            
            <div class=" bg-white xl:w-1/2 md:w-1/2 w-full border-gray-200 border  rounded-xl items-center  justify-center p-4 shadow-md       ">
                <!-- head icon section -->
                <div class="flex justify-center items-center ">
                    <img src="assets/AllProjects/active icon.png" alt="">
                </div>

                <!-- AllProjects section img 1 -->
                <div class="mt-4 flex flex-col md:flex-row md:w-full lg:flex-row gap-4  ">
                    <div class="flex shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl pr-2 " src="assets/AllProjects/image.png" alt="">
                        </section>
                        <section class="w-full pb-2">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Luxury Residential Complex</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt="">  Downtown Dubai, UAE</p>
                                <p ><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt=""> 12/30/2025 </p>
                            </div>
                        </section>
                        
                    </div>
                </div>

                <!-- AllProjects section img 2 -->
                <div class="mt-4 flex flex-col md:flex-row lg:flex-row gap-4 ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl " src="assets/AllProjects/image copy 5.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Commercial</a>
                            <h2 class="font-bold text-[#101828]">Modern Office Tower</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Business Bay, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt=""> 6/15/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- AllProjects section img 3 -->
                <div class="mt-4  ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl pr-1" src="assets/AllProjects/image copy 6.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Suburban Villa Development</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Arabian Ranches, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt="">3/20/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- AllProjects section img 4 -->
                <div class="mt-4  ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl " src="assets/AllProjects/image copy 6.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Suburban Villa Development</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">    
                                <p class=""><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Arabian Ranches, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt="">3/20/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- AllProjects section img 5 -->
                <div class="mt-4  ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl" src="assets/AllProjects/image copy 6.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Suburban Villa Development</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Arabian Ranches, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt="">3/20/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!--right section -->
            <div class=" bg-white  xl:w-1/2  md:w-1/2 w-full border-gray-200 border  rounded-xl items-center  justify-center p-4 shadow-md       ">
                <!-- head icon section -->
                <div class="flex justify-center items-center  ">
                    <img src="assets/AllProjects/active icon.png" alt="">
                </div>

                <!-- AllProjects section img 1 -->
                <div class="mt-4 flex flex-col md:flex-row md:w-full lg:flex-row gap-4 ">
                    <div class="flex shadow-sm rounded-lg p-2 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl pr-2 pt-2 w-38" src="assets/AllProjects/image copy 10.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Luxury Residential Complex</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-2 mt-1">
                                <p class=""><img class="w-4 h-4 inline " src="assets/AllProjects/location.png" alt="">  Downtown Dubai, UAE</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt=""> 12/30/2025 </p>
                            </div>
                            <div class="w-full rounded-lg">
                            <div class="flex justify-between items-center ">
                                <h6 class="text-gray-700 text-sm font-medium">Progress</h6>
                                <span class="text-blue-600 font-semibold">65%</span>
                            </div>
                            <div class="w-full bg-gray-200 rounded-full ">
                            <div class="bg-blue-600 h-2 rounded-full" style="width: 65%"></div>
                            </div>
                        </div>
                        </section>
                        
                    </div>
                </div>

                <!-- AllProjects section img 2 -->
                <div class="mt-4 flex flex-col md:flex-row lg:flex-row gap-4 ">
                    <div class="flex gap-4  shadow-sm rounded-lg p-2 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl " src="assets/AllProjects/image copy.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Commercial</a>
                            <h2 class="font-bold text-[#101828]">Modern Office Tower</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Business Bay, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt="">  6/15/2026 </p>
                            </div>
                            <div class="w-full rounded-lg">
                            <div class="flex justify-between items-center ">
                                <h6 class="text-gray-700 text-sm font-medium">Progress</h6>
                                <span class="text-blue-600 font-semibold">45%</span>
                            </div>
                            <div class="w-full bg-gray-200 rounded-full ">
                            <div class="bg-blue-600 h-2 rounded-full" style="width: 45%"></div>
                            </div>
                        </div>
                        </section>
                    </div>
                </div>

                <!-- AllProjects section img 3 -->
                <div class="mt-4  ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl" src="assets/AllProjects/image copy 7.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Suburban Villa Development</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Arabian Ranches, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt=""> 3/20/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- AllProjects section img 4 -->
                <div class="mt-4  ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl" src="assets/AllProjects/image copy 7.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Suburban Villa Development</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Arabian Ranches, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt=""> 3/20/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- AllProjects section img 5 -->
                <div class="mt-4  ">
                    <div class="flex gap-4 py-6 shadow-sm rounded-lg p-4 justify-start w-full border-gray-200 border">
                        <section>
                        <img class="rounded-xl" src="assets/AllProjects/image copy 7.png" alt="">
                        </section>
                        <section class="w-full">
                            <a href="" class="text-[#155DFC]">Residential</a>
                            <h2 class="font-bold text-[#101828]">Suburban Villa Development</h2>
                            <div class="flex flex-col xl:flex-row lg:flex-row text-[#4A5565] gap-1 mt-2">
                                <p><img class="w-4 h-4 inline" src="assets/AllProjects/location.png" alt=""> Arabian Ranches, Dubai</p>
                                <p class="px-0 xl:px-3"><img class="w-4 h-4 inline" src="assets/AllProjects/Icon bd.png" alt=""> 3/20/2026 </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </main>